body{
    margin: 0;
}

div {
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #2d72da;
    height: 100%;
    width: 100%;
    display: grid;
}

.cirkel {
    background-color: rgb(243, 166, 22);
    width: 50vw;
    border-radius: 50%;
    padding-top: 50vw;
    
    
}







