body{
    background-color: #2d72da;
    margin: 0;
}

section {
    background-color: rgb(243, 166, 22);
    width: 50vw;
    height: auto;
    border-radius: 50%;
    position: relative;
    padding-top: 50vw;
    margin: auto ;
    
}







